<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HibernateLazy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Color</display-name>
    <servlet-name>Color</servlet-name>
    <servlet-class>com.ecommerce.Color</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Color</servlet-name>
    <url-pattern>/Color</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EProduct</display-name>
    <servlet-name>EProduct</servlet-name>
    <servlet-class>com.ecommerce.EProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EProduct</servlet-name>
    <url-pattern>/EProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Finance</display-name>
    <servlet-name>Finance</servlet-name>
    <servlet-class>com.ecommerce.Finance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Finance</servlet-name>
    <url-pattern>/Finance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OS</display-name>
    <servlet-name>OS</servlet-name>
    <servlet-class>com.ecommerce.OS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OS</servlet-name>
    <url-pattern>/OS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreenSizes</display-name>
    <servlet-name>ScreenSizes</servlet-name>
    <servlet-class>com.ecommerce.ScreenSizes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreenSizes</servlet-name>
    <url-pattern>/ScreenSizes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HibernateUtil</display-name>
    <servlet-name>HibernateUtil</servlet-name>
    <servlet-class>com.ecommerce.HibernateUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HibernateUtil</servlet-name>
    <url-pattern>/HibernateUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetails</display-name>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/ProductDetails</url-pattern>
  </servlet-mapping>
</web-app>